<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>287188998242-kbf1sk2l12oq3gu9pcrd54tdo2cq626p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287188998242-kbf1sk2l12oq3gu9pcrd54tdo2cq626p</string>
	<key>API_KEY</key>
	<string>AIzaSyBLLjcoLdrLwm_SvSZA1CWQDbqqgyoO1Io</string>
	<key>GCM_SENDER_ID</key>
	<string>287188998242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jj.Chat</string>
	<key>PROJECT_ID</key>
	<string>studycast-20a33</string>
	<key>STORAGE_BUCKET</key>
	<string>studycast-20a33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:287188998242:ios:f76d3f7916b3eea4</string>
	<key>DATABASE_URL</key>
	<string>https://studycast-20a33.firebaseio.com</string>
</dict>
</plist>